<a href="https://colab.research.google.com/github/AhmadFirmanto/Portfolio-pyton/blob/main/fiktif_pyton_visual.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# read data

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
drive = ('/content/gdrive/MyDrive/study kasus - e-comers fiktif (RevoU)/fiktif-pyton-visual.csv')

In [4]:
print(drive)
df = pd.read_csv(drive)
df.head()

/content/gdrive/MyDrive/study kasus - e-comers fiktif (RevoU)/fiktif-pyton-visual.csv

,order_id_oi,user_id_oi,product_id_oi,created_at_oi,status_oi,sale_price_oi,num_of_item_o,gender_o,category_p,country_u,jumlah_transaksi
0,113506,90491,7886,2019-01-06 11:45:53 UTC,Returned,10.900000,1,F,Blazers & Jackets,China,10.900000
1,50514,40341,2052,2019-01-12 07:55:57 UTC,Cancelled,130.000000,1,F,Fashion Hoodies & Sweatshirts,Australia,130.000000
2,79164,63238,6176,2019-01-13 07:41:00 UTC,Shipped,18.969999,1,F,Leggings,Spain,18.969999
3,61138,48721,27215,2019-01-15 09:13:24 UTC,Shipped,49.950001,2,M,Sleep & Lounge,Poland,99.900002
4,61138,48721,28608,2019-01-16 08:20:11 UTC,Shipped,7.950000,2,M,Accessories,Poland,15.900000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181798 entries, 0 to 181797
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_id_oi       181798 non-null  int64
 1   user_id_oi        181798 non-null  int64
 2   product_id_oi     181798 non-null  int64
 3   created_at_oi     181798 non-null  object
 4   status_oi         181798 non-null  object
 5   sale_price_oi     181798 non-null  float64
 6   num_of_item_o     181798 non-null  int64
 7   gender_o          181798 non-null  object
 8   category_p        181798 non-null  object
 9   country_u         181798 non-null  object
 10  jumlah_transaksi  181798 non-null  float64
dtypes: float64(2), int64(4), object(5)
memory usage: 15.3+ MB

# clining

In [6]:
# copy data

fiktif = df.copy()

In [7]:
# merubah format tanggal

fiktif['created_at_oi'] = pd.to_datetime(fiktif['created_at_oi'])

In [8]:
fiktif.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181798 entries, 0 to 181797
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_id_oi       181798 non-null  int64
 1   user_id_oi        181798 non-null  int64
 2   product_id_oi     181798 non-null  int64
 3   created_at_oi     181798 non-null  datetime64[ns, UTC]
 4   status_oi         181798 non-null  object
 5   sale_price_oi     181798 non-null  float64
 6   num_of_item_o     181798 non-null  int64
 7   gender_o          181798 non-null  object
 8   category_p        181798 non-null  object
 9   country_u         181798 non-null  object
 10  jumlah_transaksi  181798 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(2), int64(4), object(4)
memory usage: 15.3+ MB

In [9]:
# cek typo

fiktif['status_oi'].value_counts()

Shipped       55016
Complete      45089
Processing    36340
Cancelled     27518
Returned      17835
Name: status_oi, dtype: int64

In [10]:
fiktif['num_of_item_o'].value_counts()

1    87794
2    50620
4    24640
3    18744
Name: num_of_item_o, dtype: int64

In [11]:
fiktif['gender_o'].value_counts()

M    91467
F    90331
Name: gender_o, dtype: int64

In [12]:
fiktif['country_u'].value_counts()

China             60929
United States     41317
Brasil            26507
South Korea        9851
United Kingdom     8442
France             8414
Germany            7659
Spain              7256
Japan              4501
Australia          4189
Belgium            2255
Poland              437
Colombia             22
Deutschland           8
Espa√±a                7
Austria               4
Name: country_u, dtype: int64

In [14]:
# cek duplikat

fiktif[fiktif.duplicated()]

Empty DataFrame
Columns: [order_id_oi, user_id_oi, product_id_oi, created_at_oi, status_oi, sale_price_oi, num_of_item_o, gender_o, category_p, country_u, jumlah_transaksi]
Index: []

In [37]:
fiktif.describe()

,order_id_oi,user_id_oi,product_id_oi,sale_price_oi,num_of_item_o,jumlah_transaksi
count,181798.000000,181798.000000,181798.000000,181798.000000,181798.000000,181798.000000
mean,62794.601486,50097.781307,15305.674276,59.714439,1.891253,112.784551
std,36270.845190,28939.355061,8411.934052,66.916276,1.056572,157.190139
min,1.000000,1.000000,1.000000,0.020000,1.000000,0.020000
25%,31423.000000,25103.000000,8048.000000,24.950001,1.000000,34.000000
50%,62745.500000,50027.500000,16065.000000,39.990002,2.000000,65.000000
75%,94242.000000,75251.000000,22581.000000,69.949997,2.000000,131.960007
max,125512.000000,99999.000000,29120.000000,999.000000,4.000000,3996.000000

In [42]:
d = fiktif[['sale_price_oi','jumlah_transaksi']]

In [43]:
d.describe()

       sale_price_oi  jumlah_transaksi
count  181798.000000     181798.000000
mean       59.714439        112.784551
std        66.916276        157.190139
min         0.020000          0.020000
25%        24.950001         34.000000
50%        39.990002         65.000000
75%        69.949997        131.960007
max       999.000000       3996.000000